{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div id="elexWidget">
    {% include 'partials/heading.html' %}
    {% include 'partials/electoral-tally.html' %}
    {% include 'partials/presidential-race.html' %}
    {% include 'partials/mayoral-race.html' %}
    {% include 'partials/senate-race.html' %}
    {% include 'partials/more-results.html' %}
    <div style="clear:both"></div>
  </div>
{% endblock %}
