<div class="tally__wrapper">
  <div class="row">
    <div class="tally__candidate tally__candidate--wrapper">
      <div class="tally__candidate--inner tally__candidate--left">
        <img class="tally__candidate__image tally__candidate__image--left" src="http://pubsys.miamiherald.com/static/media/projects/2016/photos/elexprimary/clinton.jpg" alt="Hillary Clinton">
        <div class="electoral-votes__wrapper electoral-votes__wrapper--left">
          <span>Clinton</span>
          <div class="electoral-votes__number electoral-votes__number--left" id="hillaryCount"></div>
        </div>
      </div>
    </div>
    <div class="tally__candidate tally__candidate--wrapper">
      <div class="tally__candidate--inner tally__candidate--right">
        <div class="electoral-votes__wrapper electoral-votes__wrapper--right">
          <span>Trump</span>
          <div class="electoral-votes__number electoral-votes__number--right" id="donaldCount"></div>
        </div>
        <img class="tally__candidate__image tally__candidate__image--right" src="http://pubsys.miamiherald.com/static/media/projects/2016/photos/elexprimary/trump.jpg" alt="Donald Trump">
      </div>
    </div>
  </div>
  <div class="row">
    <div id="voteBar-1"class="js-tally-bar tally__bar">
      <div id="hillaryBar" class="tally__bar--left"></div>
      <div id="donaldBar" class="tally__bar--right"></div>
    </div>
  </div>
</div>
