<div class="elexresults col-xs-12 col-md-4" id="presidentialRace">
	<div class="candidateThumbs">
		<img src="http://media.miamiherald.com/static/media/projects/2016/photos/elexprimary/clinton.jpg" alt="Hillary Clinton">
		<img src="http://media.miamiherald.com/static/media/projects/2016/photos/elexprimary/trump.jpg" alt="Donald Trump" style="border-radius:70px;">
	</div>

	<h5 class="race-name">Florida - Presidente de EEUU</h5>

	<script language="JavaScript"> showParty=0;showMax=0;showTitle=1;</script>
	<script language="JavaScript" src="http://hosted.ap.org/elections/2016/general/by_race/FL_0.js?SITE=FLMIHELN&SECTION=POLITICS"></script>
</div>
