<div class="elexresults col-xs-12 col-md-4 border-left border-sm-remove-left border-xs-remove-left" id="senateRace">

	<div class="candidateThumbs">
		<img src="http://pubsys.miamiherald.com/static/media/projects/2016/photos/elexprimary/murphy.jpg" alt="Patrick Murphy">
		<img src="http://pubsys.miamiherald.com/static/media/projects/2016/photos/elexprimary/rubio.jpg" alt="Marco Rubio">
	</div>

	<h5 class="race-name">Florida Senate</h5>

	<script language="JavaScript"> showParty=0;showMax=0;showTitle=1;</script>
	<script language="JavaScript" src="http://hosted.ap.org/elections/2016/general/by_race/FL_11160.js?SITE=FLMIHELN&SECTION=POLITICS"></script>
</div>
