.electoral-votes {
  &__number {
    font-size: 30px;
    @include media($medium-screen-up) {
      font-size: 34px;
    }
    font-family: $heading-font-family-sans;
    font-weight: bold;

    &--right {
      color: $red;
    }

    &--left {
      color: $blue;

      @include media($medium-screen-up) {
        &:after {
          content: 'electoral votes';
          font-weight: lighter;
          font-size: 12px;
          color: $dark-grey;
          margin-left: 0.5em;
        }
      }
    }
  }

  &__wrapper {
    display: inline-block;
    vertical-align: middle;

    &--left {
      position: relative;

      img.clinton {
        display: none;
        width: 25px;

        &.is-winner {
          display: block;
          @include position(absolute, -15% null null 110%);
          @include media($medium-screen-up) {
            @include position(absolute, 0 null null 50%);
          }
          color: $red;
        }
      }
    }

    &--right {
      position: relative;
      text-align: right;

      img.trump {
        display: none;
        width: 25px;

        &.is-winner {
          display: block;
          @include position(absolute, -15% 110% null null);
          @include media($medium-screen-up) {
            @include position(absolute, 0 null null -100%);
          }
          color: $red;
        }
      }
    }

    span {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      color: $black;
      font-weight: bold;
    }
  }
}
