.more-results {
  margin-left: 20px;

  li {
    display: inline-block;
    border-right: solid 1px $dark-grey;
    padding: 0 5px;
    font-family:'McClatchy Sans',Arial,'Helvetica Neue',Helvetica,sans-serif !important;
    font-size: 12px !important;

    &__heading {
      padding-right: 2.5px;
      color: #aaa !important;
    }

    &:first-child,
    &:last-child {
      border: none;
    }

    a {
      color: $black;
    }
  }
}
